<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
  <div th:replace="admin/fragments/header :: header"></div>
  <div th:replace="admin/fragments/sidebar :: sidebar"></div>

  <div class="content-wrapper">
    <section class="content-header">
      <h1>Chỉnh Sửa Danh Mục</h1>
    </section>

    <section class="content">
      <form th:action="@{/admin/category/save}" method="post">
        <input type="hidden" th:value="${category.id}" name="id" />
        <div class="form-group">
          <label for="ten">Tên Danh Mục</label>
          <input type="text" class="form-control" id="ten" name="ten" th:value="${category.ten}" required />
        </div>
        <div class="form-group">
          <label for="moTa">Mô Tả</label>
<textarea class="form-control" id="moTa" name="moTa" th:text="${category.moTa}" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">Lưu</button>
        <a href="/admin/category" class="btn btn-default">Hủy</a>
      </form>
    </section>
  </div>

  <script th:src="@{/assets/js/jquery.min.js}"></script>
  <script th:src="@{/assets/js/bootstrap.min.js}"></script>
</body>
</html>
